@media screen and (max-width:575px) {
    .grupo_modulos {
        /*width: 100%;
        height: 83%;*/
        background: #3366FF;
    }
    #navbarSupportedContent {
        width: 60%;
        height: 300px;
        border: solid;
        position: absolute;
        z-index: 1000;
        top: 84%;
        left: 35.5%;
    }
    #grupo_subtitulos {
        width: 100%;
        border: solid;
        height: 300px;
        background: #BDC2C5;
        text-align: center
    }
    #navbarSubtitulos {
        width: 70%;
        height: 300px;
        position: absolute;
        z-index: 1000;
        top: 75%;
        left: 28%;
        text-align: center;
        /*right: 20px*/
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .grupo_modulos {
        /*width: 100%;
        height: 83%;*/
        background: #3366FF;
    }
    #navbarSupportedContent {
        width: 50%;
        height: 300px;
        position: absolute;
        border: solid;
        z-index: 1000;
        top: 87%;
        left: 47.5%;
    }
    #grupo_subtitulos {
        width: 100%;
        height: 300px;
        border: solid;
        background: #BDC2C5;
        text-align: center;
    }
    #navbarSubtitulos {
        width: 320px;
        height: 300px;
        position: absolute;
        z-index: 1000;
        top: 76%;
        left: 31%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #navbarSupportedContent {
        width: 800px;
        overflow: visible;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 2px 2px;
        margin-bottom: 5px;
    }
    .grupo_modulos {
        column-count: 4;
        background: #3366FF;
        text-align: center;
    }
    #navbarSubtitulos {
        margin-left: 2000px;
    }
}